// Home.scss - Stiluri pentru pagina principală
@use '../styles/variables' as *;
@use '../styles/mixins' as *;

// Poți să adaugi stilurile tale aici
// Exemplu de structură:

.home {
  // Stiluri pentru container-ul principal
}

.home-header {
  // Stiluri pentru header
}

.home-nav {
  // Stiluri pentru navigare
}

.home-main {
  // Stiluri pentru conținutul principal
}

.news-grid {
  // Stiluri pentru grid-ul de știri
}

.news-article {
  // Stiluri pentru fiecare articol
}

.home-footer {
  // Stiluri pentru footer
}

