// Login.scss - Stiluri pentru pagina de login
@import '../styles/variables';
@import '../styles/mixins';

// Poți să adaugi stilurile tale aici
// Exemplu de structură:

.login {
  // Stiluri pentru container-ul principal
}

.login-container {
  // Stiluri pentru container-ul formularului
}

.login-form {
  // Stiluri pentru formular
}

.login-input {
  // Stiluri pentru input-uri
}

.login-button {
  // Stiluri pentru butonul de login
}

.login-link {
  // Stiluri pentru link-uri
}

.login-info {
  // Stiluri pentru informații
}

